* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #2980b9, #6dd5fa);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weather-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  text-align: center;
}

.weather-card input {
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.weather-card button {
  width: 60px;
  height:40px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

.weather-card button:hover {
  background-color: #2980b9;
}

.weather-info h2 {
  margin-bottom: 10px;
}

.weather-info img {
  width: px;
  height: 150px;
  
}

.weather-info p {
  margin: 5px 0;
  font-size: 16px;
}


.input-field{
  display: flex;
}